/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  text-decoration: none; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #000 !important; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

input {
  max-width: 175px; }

span.error {
  color: red; }

header {
  width: 100%;
  display: inline-block;
  color: black;
  margin: 0;
  text-decoration: none;
  padding-bottom: 25px; }

.home-header {
  text-align: center;
  font-size: 100px;
  padding-bottom: 5px; }

.subtitle {
  font-size: 20px;
  padding-top: 5px; }

.header-controls {
  float: right;
  padding-right: 25px;
  font-size: 20px; }

li.nav-opt {
  display: inline;
  padding-right: 20px; }
