development:
  adapter: postgresql
  encoding: unicode
  database: ski_condo_development
  pool: 5
  username: root
  password:
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: ski_condo_test
  pool: 5
  username: root
  password:
  host: localhost

production:
  adapter: postgresql
  encoding: unicode
  database: ski_condo_production
  pool: 5
  username: root
  password:
